@page
@model ValasztasokWebApp.Pages.AdatokFeltolteseFajlbolModel
@{
}

<h1>Adatok feltöltése</h1>
<form method="post" enctype="multipart/form-data">
    <label asp-for="UploadFile">Add meg a ... </label>
    <input type="file" asp-for="UploadFile" />
    <input type="submit" value="Feltöltés" />
</form>
