@page
@model ValasztasokWebApp.Pages.UjPartModel

@{
    ViewData["Title"] = "UjPart";
}

<h1>UjPart</h1>

<h4>Part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Part.RovidNev" class="control-label"></label>
                <input asp-for="Part.RovidNev" class="form-control" />
                <span asp-validation-for="Part.RovidNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Part.TeljesNev" class="control-label"></label>
                <input asp-for="Part.TeljesNev" class="form-control" />
                <span asp-validation-for="Part.TeljesNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
